
.o_main_navbar {
    background-color: #0084BF; 
}

.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color: #1164b4;
}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
    background-color: #1164b4;
    color: inherit;
}